commands:
  01_install_python_deps:
    command: pip install --upgrade pip && pip install -r requirements.txt

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.web:app
  aws:elasticbeanstalk:environment:properties:
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
